<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# Where our created templates show %>
    <%= render partial: "partials/nav", object: @nav %>
    <div class="container">
      <%# message flashing %>
      <% unless flash.empty? %>
        <% flash.each do |name, msg| %>
          <div class="mt-3 alert alert-<%= name %>">
            <p><%= msg %></p>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
